# Python cache
__pycache__/
*.pyc
*.pyo

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environments
venv/
.env/

# OS files
.DS_Store
Thumbs.db

# IDE / Editor settings
.vscode/
.idea/

# Model artifacts (optional)
models/*.pkl
